*{
    font-family: Arial, sans-serif ;
    color: rgb(36,36,36);
}

body{
    background-color: rgb(240,240,240);
    margin-top: 0;
}

#MainDiv {
    width: 1440px;
    background-color: blue;
    margin: 0 auto;
}


/*Styles of the Header*/
#header {
    width: 1440px;
    height: 60px;
    background-color: rgb(36,36,36);
}

/*Searchbox in the Header*/
#search {
    background-color: transparent;
    width: 400px;
    height: 60px;
}
#searchbox {
    width: 290px;
    height: 30px;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
    margin-left: 10%;
    margin-top: 15px;
    border: 0;
    font-size: 15pt;
    background-color: rgb(240,240,240);
}
#searchbox:focus {
    outline: none;
}
#searchButton {
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    border:0;
    width:30px;
    height: 32px;
    float: right;
    margin-top: 15px;
    margin-right: 10%;
    background: rgb(240,240,240) url(../ressources/icons/searchicon.png) no-repeat center;
    background-size: 30px 30px;
}

@-moz-document url-prefix() {
    #searchButton {
        margin-right: 9.5%;
    }
}

#searchButton:focus {
    outline: none;
}

/*Navigation in the Header*/
#navigation {
    width: 600px;
    height: 60px;
    background-color: transparent;
    float:right;
    margin-right: 260px;
}
#navigation a {
    text-decoration: none;
    color: rgb(220,220,220);
    display: block;
}
#navigationList {
    list-style-type: none;
    font-size: 17pt;
    padding: 0;
    margin: 0;
}
.navigationButton {
    border: 0;
    display: block;
    width: 200px;
    height: 43px;
    float:left;
    padding-top: 17px;
    text-align: center;
    color: rgb(220,220,220);
    background-color: transparent;
}
.navigationButton:hover {
    border-bottom: 6px solid rgb(220,220,220);
    height: 38px;
    background-color: rgb(67,67,67);
}
#currentSite {
    background-color: rgb(67,67,67);
}

/*Account Navigation in the Header*/
#accountNavigation {
    width: 150px;
    height: 60px;
    background-color: transparent;
    float: right;
}

#accountNavigation a {
    font-size: 17pt;
    text-decoration: none;
}

.dropdown-content {
    margin-top: 60px;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 150px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
#accountNavigation:hover .dropdown-content {
    display: block;
}
.dropdown-content a {
    color: rgb(36,36,36) !important;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {background-color: #f1f1f1}

#accountNavigation:hover .dropdown-content {
    display: block;
}


/*Contentnavigation*/
#contentNavigation {
    width: 240px;
    min-height: 790px;
    background-color: rgb(200,200,200);
}


/*Content*/
#content {
    width: 1170px;
    min-height: 760px;
    background-color: rgb(230,230,230);
    float: right;
    padding: 15px;
}


/*Footer*/
#footer {
    width: 1440px;
    height: 50px;
    background-color: rgb(36,36,36);
    float:right;
}

/*Login and register*/

#login {
    width: 150px;
    height: 60px;
    background-color: rgb(36,36,36);
    float: right;
    display: block;
}

#LoginContent {
    width: 1440px;
    background: rgb(230,230,230) url(../ressources/background/loginbackground.jpg) no-repeat center 50%;
    background-size: 1440px ;
    text-align: center;
    margin: 0 auto;
  /*  padding: 15px;*/
}

#RegisterTitle {
    font-size: 35pt;
    text-align: center;
    margin-top: 0;
}

.RegisterLabel {
    font-size: 18pt;
    color: rgb(220, 220, 220);
    font-weight: bold;
   /* text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;*/
}

.RegisterInput {
    height: 35px;
    width: 400px;
    background-color: rgb(240,240,240);
    border-radius: 7px;
    border: 0;
    font-size: 15pt;
    margin-top: 5px;
    margin-bottom: 20px;
}
.RegisterInput:focus {
    outline: none;
}

.RegisterButton {
    font-size: 17pt;
    height: 70px;
    width: 150px;
    border: 0;
    border-radius: 5px;
    margin: 15px;
}

#Submit {
    margin-left: 25px;
    background-color: rgb(61, 87, 255);
}

#Reset {
    margin-right: 25px;
    background-color: rgb(216, 216, 216);
}

.Login-Div {
    display: none;
    position: relative;
    background-color: rgb(67,67,67);
    width: 570px;
    padding: 10px 5px 5px 5px;
    margin-top: 60px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    color: rgb(220,220,220);
    text-align: center;
}

.show {display:block;}

#LoginTitle {
    font-size: 35pt;
    margin-top: 0;
    color: rgb(220,220,220);
    text-align: center;
    margin-bottom: 20px;
}

.LoginLabel {
    color: rgb(220,220,220);
    font-size: 18pt;
    font-weight: 200;
}

.LoginInput {
    height: 35px;
    width: 400px;
    background-color: rgb(240,240,240);
    border-radius: 7px;
    border: 0;
    font-size: 15pt;
    margin-top: 5px;
    margin-bottom: 20px;
}
.LoginInput:focus {
    outline: none;
}

.LoginButton {
    font-size: 17pt;
    height: 70px;
    width: 150px;
    border: 0;
    border-radius: 5px;
    margin: 15px;
}
#SubmitLogin {
    margin-left: 25px;
    background-color: rgb(61, 87, 255);
}

#ResetLogin {
    margin-right: 25px;
    background-color: rgb(216, 216, 216);
}
.LoginButton:focus {
    outline: none;
}

/* NEW LOCATION FORM */

.LocationInput {
    height: 35px;
    width: 400px;
    background-color: rgb(240, 240, 240);
    border-radius: 7px;
    border: 0;
    font-size: 15pt;
    margin-top: 5px;
    margin-bottom: 20px;
}

.LocationLabel {
    font-size: 18pt;
    color: rgb(102, 102, 102);
    font-weight: bold;
}

.Location-Div {
    text-align: center;
    margin: 0 auto;
}

.LocationButton {
    font-size: 17pt;
    height: 70px;
    width: 150px;
    border: 0;
    border-radius: 5px;
    margin: 15px;
}